/* Container */
.dataRoomContainer {
  padding: 1rem;
  background-color: white;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Header */
.dataRoomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.dataRoomTitle {
  font-size: 2rem;
  color: #333;
}

.addDataRoomButton {
  background-color: rgb(222, 247, 176);
  border: 1px solid #999;
  border-radius: 14px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 35px;
  text-decoration: none;
  transition: opacity 0.3s ease;
  margin-top: 30px;
}

.addDataRoomButton:hover {
  opacity: 0.8;
}

.dataTable {
  width: 100%;
  
  border-collapse: collapse;
  border-bottom: solid 1px #dad6d6;
}

.dataTable th, .dataTable td {
  padding: 0.65rem;
  text-align: center;
  border: 1px solid #ddd;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px; /* 각 셀의 높이 고정 */
}

/* 제목 열(td)의 왼쪽 정렬 */
.dataTable td:nth-child(2) { /* '제목' 열이 3번째 열이라 가정 */
  text-align: left; /* 왼쪽 정렬 */
  padding-left: 1rem; /* 왼쪽에 여백 추가 */
  
}

/* 테이블 행에 마우스 호버 시 배경색 추가 */
.dataTable tr:hover {
  background-color: #f1f8ff; /* 연한 파란색 배경 */
  transition: background-color 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

/* 헤더 스타일 */
.dataTable th {
  background-color: #F5F5F5;
  font-weight: bold;
}

/* 제목 컬럼 왼쪽 정렬 */
/* .titleColumn {
  text-align: left !important;
} */

/* 수정/삭제 컬럼 아이콘 정렬 */
.actionsColumn {
  display: flex;
  justify-content: center; /* 아이콘 가운데 정렬 */
  gap: 10px; /* 아이콘 간격 */
}

/* 아이콘 스타일 */
.iconButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 6px; /* 둥근 모서리 */
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.editIcon {
  background-color: #1abc9c; /* 초록색 배경 */
}

.deleteIcon {
  background-color: #e74c3c; /* 빨간색 배경 */
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}