/* MobileFooter 스타일 */

/* 푸터 컨테이너 스타일 */
.mobileFooter {
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 20px; /* 내부 여백 */
    font-size: 0.8rem; /* 푸터 텍스트 크기 */
    background-color: #f8f9fa; /* 배경색 */
    border-top: 1px solid #ddd; /* 상단 테두리 */
  }
  
  /* 푸터 링크 스타일 */
  .mobileFooter a {
    display: inline-block; /* 인라인 블록으로 설정 */
    margin-top: 10px; /* 위쪽 여백 */
    text-decoration: none; /* 밑줄 제거 */
    color: #007bff; /* 링크 색상 */
    font-weight: bold; /* 굵게 */
  }
  
  .mobileFooter a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
  }

  
  .pcVersionButton {
    display: inline-block !important;
    padding: 10px 30px !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #333 !important;
    background-color: #fff !important;
    border: 2px solid #bbb !important;
    border-radius: 50px !important;
    cursor: pointer !important;
    text-align: center !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
  }
  