.control-business-performance-container {
    padding: 20px;
    background-color: #f9fbe7; /* 밝은 노란색 배경 */
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
  
  .control-name {
    font-size: 2rem;
    color: #33691e; /* 진한 초록색 */
    margin-bottom: 10px;
  }
  
  .control-business-performance-description {
    font-size: 1.2rem;
    color: #558b2f; /* 짙은 초록색 */
  }