/* 메인 고객 개요 컨테이너 */
.customer-overview-container {
    padding: 1rem;
    background-color: white;
    max-width: 1200px; /* 최대 너비를 1200px로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    position: relative;
    overflow: hidden; /* 오버플로우 방지 */
}

/* 타이틀 영역 설정 */
.customer-overview-header {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    border-bottom: 1px solid #333232; /* 하단에 회색 선 추가 */
    padding: 10px; /* 내부 여백 설정 */
    max-width: 1200px; /* 최대 너비 1200px */
    height: 64px; /* 높이 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* 체크 아이콘 설정 */
.check-icon {
    color: #2eb872;
    font-size: 1.5rem; /* 아이콘 크기 설정 */
    margin-right: 0.5rem; /* 아이콘과 제목 사이의 여백 */
}

/* 타이틀 텍스트 설정 */
.customer-overview-title {
    font-size: 2rem; /* 제목 크기 설정 */
    color: #333;
    margin: 0;
}

/* 두 이미지가 나란히 배치되도록 설정 */
.customer-overview-content { 
    margin-top: 1rem;
    display: flex;
    flex-direction: row; /* 가로 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: flex-start; /* 상단 맞춤 */
    overflow: hidden; /* 오버플로 방지 */
}

/* 단일 이미지 전체 화면에 표시 */
.customer-overview-content {
    display: flex;
    justify-content: center; /* 이미지 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 30px;
}

/* 고객 이미지 설정 */
.customer-image {
    width: 100%; /* 이미지가 가로로 전체 화면을 채우도록 설정 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: contain; /* 이미지가 잘리지 않도록 설정 */
}

@media screen and (max-width: 1200px) {
    .customer-overview-container {
      width: 1200px; /* 고정된 너비 유지 */  
    }
}