/* 푸터 네비게이션 */
.footer{
  background-color: white;
}

.footer-nav {
  background-color: #F7F7F7;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin: 0;
  gap: 0.9rem;
  display: flex;
  justify-content: center;
}

.footer-nav-link {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}

.footer-nav-link:hover {
  color: #d96d47;
}

.separator {
  width: 2px;
  height: 15px;
  background-color: #918c8c;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 12px;
  font-weight: bold;
}


/* 회사 정보 섹션 */
.footer-content {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  align-items: center;
  background-color: white;
}

.footer-left {
  max-width: 60%;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 14px;
}

.footer-logo {
  width: 160px;
  padding: 10px;
}

.footer-left p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.footer-right {
  margin-left: 50px;
}

.contact-info {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  gap: 5px; /* 행 간 간격 */
}

.contact-row {
  display: flex;
  justify-content: space-between; /* 좌우로 간격 맞춤 */
  gap: 20px; /* 각 열 간 간격 */
}

.contact-row span {
  font-size: 14px;
  color: #555;
}

.contact-row span:first-child {
  margin-right: auto; /* 첫 번째 span을 왼쪽 정렬 */
}

.qr-code{
  margin-left: 50px;
}

/* 하단 저작권 정보 */
.footer-bottom {
  text-align: center;
  background-color: white;
  margin-bottom: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #363636;
}

/* 레이아웃 축소 방지 */
@media screen and (max-width: 1200px) {
  .footer-content, .footer-bottom, .footer-nav {
    width: 1200px; /* 고정된 너비 유지 */
    padding: 0 20px;
  }


  .qr-code {
    margin: 20px auto;
  }
}