/* MobileGridMenu 스타일 */

/* 그리드 메뉴 컨테이너 */
.grid-menu {
  display: grid; /* 그리드 레이아웃 */
  grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
  gap: 20px; /* 아이템 간 간격 */
  padding: 20px; /* 내부 여백 */
  margin-top: 60px;
}
  
  /* 그리드 아이템 스타일 */
.grid-item {
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 20px; /* 내부 여백 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-size: 0.9rem; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵게 */
  color: #fff; /* 글자색 흰색 */
  width: 200px;
}

.grid-menu a {
  color: #eee; /* 기본 글자 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

/* 그리드 아이템 호버 효과 */
.grid-item:hover {
  transform: scale(1.05); /* 호버 시 살짝 확대 */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강조 */
}

  /* 특정 항목만 검정색 글자로 설정 */
.grid-menu a.black-text {
  color: #666; /* 검정색 */
}
  
  /* 각 그리드 아이템의 색상 */
.grid-item.intro {
  background-color: #ffcc80; /* 밝은 주황색 */
}

.grid-item.recruit {
  background-color: #ff8666; /* 밝은 빨간색 */
}

.grid-item.control-system {
  background-color: #66b3ff; /* 밝은 파란색 */
}

.grid-item.info-system {
  background-color: #ffe066; /* 밝은 노란색 */
}

.grid-item.resources {
  background-color: #a6a6a6; /* 밝은 회색 */
}

.grid-item.qa {
  background-color: #5cd65c; /* 밝은 초록색 */
}