body {
  font-family: Arial, sans-serif;
  min-width: 1280px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.body-content {
  flex: 1;
}
