.company-greetings-container {
  padding: 1rem;
  background-color: white;
  max-width: 1200px; /* 최대 너비를 1200px로 고정 */
  margin: 0 auto; /* 중앙 정렬 */
  position: relative;
  overflow: hidden; /* 오버플로 방지 */
  
}

.company-greetings-header {
  display: flex;
  align-items: center; /* 수직 정렬 */
  border-bottom: 1px solid #959292; /* 하단에 회색 선 */
  
  max-width: 1200px; /* 최대 너비 1200px */
  height: 64px; /* 고정 높이 */
  margin: 0; /* 중앙 정렬 해제 */
  
}

.check-icon {
  color: #2eb872;
  font-size: 1.5rem; /* 아이콘 크기 */
  margin-right: 0.5rem; /* 아이콘과 제목 사이 여백 */
}

.company-greetings-title {
  font-size: 2rem; /* 제목 크기 */
  color: #333;
  margin: 0;
}

.top-link {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
  position: absolute; /* 우측 끝에 고정 */
  border: none;
  font-size: 18px;
  background-color: white;
}

.top-link:hover {
  text-decoration: underline; /* 마우스 오버 시 밑줄 표시 */
}

.company-greetings-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: row; /* 가로 정렬 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: flex-start; /* 상단 맞춤 */
  overflow: hidden; /* 오버플로 방지 */
}

.company-greetings-image {
  width: 500px; /* 고정된 너비를 400px로 설정 */
  flex-shrink: 0; /* 이미지가 축소되지 않도록 설정 */
  height: auto; /* 비율 유지 */
  margin-right: 2rem;
  padding: 30px;
  object-fit: contain; /* 이미지가 잘리지 않도록 비율 유지 */
}

.greetings-text {
  flex-grow: 1; /* 텍스트가 남은 공간을 모두 차지 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
}

.greetings-intro {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.greetings-highlight {
  font-size: 2rem;
  color: #555;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 1rem;
}

strong {
  color: #0056b3;
}

.ceo-signature {
  text-align: right; /* 우측 정렬 */
  margin-top: 2rem;
}
